.siteFooter{
    padding: 70px 0;
    background-color: #F2F2F2;

    &__wrap{
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
    }
    &__position{
        display: flex;
        align-items: flex-start;
        margin: 0 0 30px;

        &:last-of-type{
            margin: 0;
        }

        img{
            max-width: 42px;
            margin-right: 23px;
        }
        span{
            font-size: 21px;
            line-height: 32px;
            font-weight: 500;
            color: #000;
            margin: 0;
        }
    }
    &__column{
        max-width: 250px;
        width: 100%;

        &--mobile{
            display: none;
        }

        h3{
            font-size: 32px;
            line-height: 47px;
            font-weight: 500;
            color: #000;
            text-align: center;
            margin: 0 0 48px;
        }
        a{
            transition: ease .3s;

            &:hover{
                opacity: .7;
            }
        }
        .social{
            display: flex;
            align-items: center;
            justify-content: space-between;
            max-width: 125px;
            margin: 0 auto;

            a{
                display: flex;

                img{
                    width: 100%;
                    max-width: 47px;
                }
            }
        }
    }
    &__copy{
        margin-top: 100px;
        
        p{
            font-size: 21px;
            line-height: 32px;
            color: #000;
            text-align: center;
            margin: 0;
        }
    }
}
@media (max-width: 1199px){
    .siteFooter{
        &__position{
            img{
                margin-right: 20px;
            }
        }
        &__column{
            h3{
                margin: 0 0 40px;
            }
        }
    }
}
@media (max-width: 991px){
    .siteFooter{
        padding: 50px 0;

        &__wrap{
            flex-direction: column;
        }
        &__position{
            flex-direction: column;
            align-items: center;
            justify-content: center;

            img{
                margin: 0 auto 20px;
            }
            span{
                text-align: center;
            }
        }
        &__column{
            max-width: 100%;
            margin: 0 0 50px;

            &--mobile{
                display: block;
            }
            &--desktop{
                display: none;
            }
            
            &:last-of-type{
                margin: 0;
            }
        }
        &__copy{
            margin-top: 100px;
        }
    }
}
@media (max-width: 767px){
    .siteFooter{
        &__position{
            span{
                font-size: 18px;
                line-height: 24px;
            }
        }
        &__column{
            h3{
                font-size: 28px;
                line-height: 40px;
                margin: 0 0 30px;
            }
            .social{
                max-width: 100px;

                a{
                    img{
                        max-width: 38px;
                    }
                }
            }
        }
        &__copy{
            margin-top: 60px;
        }
    }
}